
.main {
    background-image: url(/cielo-estrellado.jpg);
    background-size: 100% 100%;
    min-width: 300px;
    min-height: 600px;
    width: calc(0.75 * (100vh - 190px));
    height: calc(100vh - 190px);
    font-size: 20px;
    display: flex; 
    flex-direction: column; 
    padding: 50px;
}

.title {
    font-size: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    text-align: center;
    max-width: 100%;
    
}

.hr {
    background-color: white;
    height: 3px;
    width: 100%;
    margin: 0 auto 20px auto;
}

.artists {
    margin: 5px 20px;
    text-align: justify;
}

.h1 {
    margin: -2px 0px;
    font-size: 40px;
}

.h2 {
    margin: -1px 0px;
    font-size: 30px;
}

.h3 {
    margin: 1px 0px;
}

.h4 {
    margin: 2px 0px;
}

.h5 {
    margin: 3px 0px;
}

.h6 {
    margin: 4px 0px;
}

.h7 {
    margin: 5px 0px;
    font-size: 12px;
}

.h8 {
    margin: 6px 0px;
    font-size: 10px;
    
}

.prueba {
    text-align: justify;
}

.center {
    margin: 40px auto;
    text-align: center;
}