
.main {
    background-image: url(/cielo-estrellado.jpg);
    background-size: 100% 100%;

    width: calc(0.85 * (100vh - 190px));

    /*height: calc(100vh - 190px);*/
    height: calc(90vh - 14vh);
    
    font-size: 20px;
    display: flex; 
    flex-direction: column; 
    padding: 7vh;
}

.title {
    /*font-size: 42px;*/
    font-size: 180%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    text-align: center;
    max-width: 100%;
    
}

.hr {
    background-color: white;
    height: 2px;
    width: 100%;
    margin: 0 auto 20px auto;
}

.artists {
    margin: 5px 30px;
    text-align: justify;
}

.h1 {
    margin: -2px 0px;
    /*font-size: 36px;*/
    font-size: 180%;
}

.h2 {
    margin: -1px 0px;
    /*font-size: 28px;*/
    font-size: 140%;
}

.h3 {
    margin: 1px 0px;
    /*font-size: 22px;*/
    font-size: 110%;
}

.h4 {
    margin: 2px 0px;
    /*font-size: 18px;*/
    font-size: 90%;
}
